.cover_parent {
    height: 800px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aquamarine;
  }
  
  .coverPosterByid {
    height: 600px;
    width: 80%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px 4px rgba(88, 62, 62, 0.6);
  }
  
  .details_cover {
    height: 550px;
    width: 70%;
    display: flex;
    position: relative;
    bottom: 45%;
    left: 15%;
  }
  .detailsLeft {
    width: 25%;
  } 
  .movie_poster {
    object-fit: cover;
    height: 90%;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px 4px rgba(30, 2, 2, 0.8);
  }

  .detailsRight {
    width: 80%;
  }
  .detailsRight_top{
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:flex-start;
    padding-left: 2rem;
    
  }
  .watch_later{
    border: 2px solid rgb(69, 5, 125);
    padding: 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    border-radius: 0.9rem;
    background-color: black;
    color: white;
    box-shadow: 4px 4px 8px 4px rgba(30, 2, 2, 0.8);
  }
  .watch_later:active{
    box-shadow: 4px 4px 8px 4px rgba(251, 249, 249, 0.8);
  }
  .movie__name {
    font-weight: 600;
    font-size: 3rem;
}

.movie__voteCount {
    margin-left: 1rem;
}

.movie__genres {
    margin: 1.25rem 0;
}

.movie__genre {
    padding: .5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 1rem;
}

  .detailsRight_bottom{
    height: 35%;
    width: 100%;
    display: flex;
    align-items:flex-end;
    padding-left: 2rem;
  }
  .synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction:column;
}
.movie__links{
  display: flex;
  justify-content: center;
}
.movie__links span{
  border: 2px solid wheat;
  margin-left: 10px;
}
.movie__heading {
  font-size: 2.2rem;
  color: cyan;
}

.movie__Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  color: black;
  font-weight: bold;
}
.movie__Button {
  background-color:rgba(51, 10, 54, 0.8);
  color: white;
}

.newTab {
  margin-left: 1.4rem;
}

.movie__production {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.productin_name{
  font-weight: 900;
  font-size: large;
}
.movie__productionComapany {
  width: 200px;
  margin: 2rem;
  background-color: white;
  padding: 1rem;
}

.productionCompanyImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
